In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("../estudo_inicial/base_de_dados_formatada.csv")
df = df.drop(columns=['ID','data_da_inscricao','data_do_obito','data_do_transplante','data_de_nascimento'])
df.head()

,enxerto,uf,regiao,tipo_do_doador,uf_de_origem,sexo,grupo_sanguineo,cor,idade,data_do_evento,obito_bin,transplante_bin,delta_t
0,CO,SP,Sudeste,NaN,NaN,M,O,Negra,15467.0,2017-01-29,0,1,758.0
1,RI,PB,Nordeste,Doador Falecido,PB,M,O,Parda,18640.0,2016-12-09,0,1,707.0
2,RI,PB,Nordeste,Doador Falecido,PB,M,A,Parda,21310.0,2017-05-15,0,1,864.0
3,RI,PE,Nordeste,Doador Falecido,PE,M,O,Parda,23649.0,2015-07-11,0,1,190.0
4,RI,PE,Nordeste,NaN,NaN,M,O,Branca,18651.0,2017-12-17,0,1,1080.0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187252 entries, 0 to 187251
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   enxerto          187252 non-null  object
 1   uf               187252 non-null  object
 2   regiao           187252 non-null  object
 3   tipo_do_doador   170785 non-null  object
 4   uf_de_origem     170785 non-null  object
 5   sexo             187252 non-null  object
 6   grupo_sanguineo  76030 non-null   object
 7   cor              187252 non-null  object
 8   idade            187252 non-null  float64
 9   data_do_evento   187252 non-null  object
 10  obito_bin        187252 non-null  int64
 11  transplante_bin  187252 non-null  int64
 12  delta_t          187252 non-null  float64
dtypes: float64(2), int64(2), object(9)
memory usage: 18.6+ MB

In [16]:
np.unique(df.tipo_do_doador.dropna().values,return_counts=True)

(array(['Doador Falecido', 'Doador Vivo'], dtype=object),
 array([162977,   7808]))

In [44]:
df_bin = df

bin_cols = [
    "enxerto",
    "uf",
    "regiao",
    "tipo_do_doador",
    "uf_de_origem",
    "sexo",
    "grupo_sanguineo",
    "cor",
]

for col in bin_cols:
    # converting to binary data
    df_one = pd.get_dummies(
        df[col],
    )
    # Use the .replace() method to map True/False to 1/0
    df_one = df_one.replace({True: 1, False: 0})

    # Recolocando NaN
    df_one.loc[df[col].isnull()] = None

    # Renomeando colunas
    new_columns = [
        col + "_" + category.strip().replace(" ", "_") for category in df_one.columns
    ]

    df_one.columns = new_columns

    df_aux = pd.concat([df_bin, df_one],ignore_index=True)

    df_aux = df_aux.drop(columns=[col])

    df_bin = df_aux

df_bin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1685268 entries, 0 to 1685267
Data columns (total 90 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   idade                           187252 non-null  float64
 1   data_do_evento                  187252 non-null  object
 2   obito_bin                       187252 non-null  float64
 3   transplante_bin                 187252 non-null  float64
 4   delta_t                         187252 non-null  float64
 5   enxerto_CA                      187252 non-null  float64
 6   enxerto_CO                      187252 non-null  float64
 7   enxerto_CO_FI                   187252 non-null  float64
 8   enxerto_CO_PU                   187252 non-null  float64
 9   enxerto_CO_RI                   187252 non-null  float64
 10  enxerto_FI                      187252 non-null  float64
 11  enxerto_FI_PA                   187252 non-null  float64
 12  enxerto_FI_RI                   187252 non-null  float64
 13  enxerto_Multivisceral           187252 non-null  float64
 14  enxerto_PA                      187252 non-null  float64
 15  enxerto_PR                      187252 non-null  float64
 16  enxerto_PU                      187252 non-null  float64
 17  enxerto_PU_RI                   187252 non-null  float64
 18  enxerto_RI                      187252 non-null  float64
 19  uf_AC                           187252 non-null  float64
 20  uf_AL                           187252 non-null  float64
 21  uf_AM                           187252 non-null  float64
 22  uf_BA                           187252 non-null  float64
 23  uf_CE                           187252 non-null  float64
 24  uf_DF                           187252 non-null  float64
 25  uf_ES                           187252 non-null  float64
 26  uf_GO                           187252 non-null  float64
 27  uf_MA                           187252 non-null  float64
 28  uf_MG                           187252 non-null  float64
 29  uf_MS                           187252 non-null  float64
 30  uf_MT                           187252 non-null  float64
 31  uf_PA                           187252 non-null  float64
 32  uf_PB                           187252 non-null  float64
 33  uf_PE                           187252 non-null  float64
 34  uf_PI                           187252 non-null  float64
 35  uf_PR                           187252 non-null  float64
 36  uf_RJ                           187252 non-null  float64
 37  uf_RN                           187252 non-null  float64
 38  uf_RO                           187252 non-null  float64
 39  uf_RS                           187252 non-null  float64
 40  uf_SC                           187252 non-null  float64
 41  uf_SE                           187252 non-null  float64
 42  uf_SP                           187252 non-null  float64
 43  uf_TO                           187252 non-null  float64
 44  uf_ce                           187252 non-null  float64
 45  regiao_Centro_Oeste             187252 non-null  float64
 46  regiao_Nordeste                 187252 non-null  float64
 47  regiao_Norte                    187252 non-null  float64
 48  regiao_Sudeste                  187252 non-null  float64
 49  regiao_Sul                      187252 non-null  float64
 50  tipo_do_doador_Doador_Falecido  170785 non-null  float64
 51  tipo_do_doador_Doador_Vivo      170785 non-null  float64
 52  uf_de_origem_AC                 170785 non-null  float64
 53  uf_de_origem_AL                 170785 non-null  float64
 54  uf_de_origem_AM                 170785 non-null  float64
 55  uf_de_origem_AP                 170785 non-null  float64
 56  uf_de_origem_BA                 170785 non-null  float64
 57  uf_de_origem_CE                 170785 non-null  float64
 58  uf_de_origem_DF                 170785 non-null  float64
 59  uf_de_origem_ES                 170785 non-null  float64
 60  uf_de_origem_GO                 170785 non-null  float64
 61  uf_de_origem_MA                 170785 non-null  float64
 62  uf_de_origem_MG                 170785 non-null  float64
 63  uf_de_origem_MS                 170785 non-null  float64
 64  uf_de_origem_MT                 170785 non-null  float64
 65  uf_de_origem_PA                 170785 non-null  float64
 66  uf_de_origem_PB                 170785 non-null  float64
 67  uf_de_origem_PE                 170785 non-null  float64
 68  uf_de_origem_PI                 170785 non-null  float64
 69  uf_de_origem_PR                 170785 non-null  float64
 70  uf_de_origem_RJ                 170785 non-null  float64
 71  uf_de_origem_RN                 170785 non-null  float64
 72  uf_de_origem_RO                 170785 non-null  float64
 73  uf_de_origem_RR                 170785 non-null  float64
 74  uf_de_origem_RS                 170785 non-null  float64
 75  uf_de_origem_SC                 170785 non-null  float64
 76  uf_de_origem_SE                 170785 non-null  float64
 77  uf_de_origem_SP                 170785 non-null  float64
 78  uf_de_origem_TO                 170785 non-null  float64
 79  sexo_F                          187252 non-null  float64
 80  sexo_M                          187252 non-null  float64
 81  grupo_sanguineo_A               76030 non-null   float64
 82  grupo_sanguineo_AB              76030 non-null   float64
 83  grupo_sanguineo_B               76030 non-null   float64
 84  grupo_sanguineo_O               76030 non-null   float64
 85  cor_Amarela                     187252 non-null  float64
 86  cor_Branca                      187252 non-null  float64
 87  cor_Indigena                    187252 non-null  float64
 88  cor_Negra                       187252 non-null  float64
 89  cor_Parda                       187252 non-null  float64
dtypes: float64(89), object(1)
memory usage: 1.1+ GB